@media (min-width: 767px) {
  button[type="submit"]:hover {
    background-color: #efa501;
    color: #ffffff;
  }

  button[type="submit"]:focus {
    background: #f8e6be;
    color: #1b1f2b;
  }

  .card:hover .card__button,
  .card__travel__stories:hover .card__button {
    background-color: #286562;
  }

  .card:active .card__button,
  .card:focus .card__button,
  .left__footer__card__stories:active .card__button,
  .left__footer__card__stories:focus .card__button {
    background-color: #efa501;
  }

  button[name="find-a-tour"]:hover {
    background-color: #3b7e7b;
  }

  button[name="find-a-tour"]:focus {
    background-color: #627f7e;
  }

  button[type="reset"]:hover {
    background-color: #f1f3f2;
  }

  button[type="reset"]:focus {
    background-color: #d9dfdb;
  }

  ul li a:hover {
    text-decoration: underline;
    text-underline-position: under;
  }

  .right__footer__card__stories ul :active,
  .right__footer__card__stories ul :focus {
    text-decoration: underline;
    color: #efa501;
  }
}

/* TV - EXTRA LARGE*/
@media (min-width: 1280px) {
  .header {
    height: 80rem;
  }
  .nav {
    justify-content: center;
  }
  nav.menu-nav {
    padding-left: 15.4rem;
    padding-right: 15.4rem;
  }
  nav ul {
    gap: 5rem;
  }

  .title {
    font-size: 9.6rem;
    padding-top: 8rem;
  }
  /* Do your tour */
  .container__form {
    padding-left: 17.5%;
    padding-right: 17.5%;
  }
  /* Choose your tour */
  .cards__container {
    padding-left: 12.8rem;
    padding-right: 12.8rem;
  }
  /* Travel stories */
  .right__footer__card__stories {
    flex: 1;
  }
  /* Travel Photos */
  .container__images {
    row-gap: 5rem;
  }

  .container__first__row__images,
  .container__second__row__images,
  .container__third__row__images {
    column-gap: 50px;
    gap: 50px;
  }
  /* Footer */
  footer .container {
    padding-left: 5rem;
    padding-right: 6.8rem;
  }
}

/* DESKTOP */
@media (min-width: 1024px) and (max-width: 1280px) {
  #travel-stories,
  #feedback,
  #choose-your-tour,
  #do-your-tour {
    padding: 13.5rem 5.3rem 0;
  }

  .nav {
    justify-content: center;
  }

  .title {
    padding-top: 4rem;
  }
  nav.menu-nav {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .desc {
    max-width: 46rem;
  }
  /* Choose your tour */
  .cards__container {
    padding-left: 0;
    padding-right: 0;
    gap: 1.8rem;
  }
  .card {
    width: 45rem;
  }
  .card__img {
    width: 100%;
  }
  /* Do your tour */
  .container__form {
    padding-left: 0;
    padding-right: 0;
  }
  /* Feedback */
  .cards__container__feedback {
    flex-flow: row;
    padding-left: 0rem;
    padding-right: 0rem;
    gap: 1.8rem;
  }

  .card__feadback {
    height: 75rem;
  }
  /* Travel Photos */
  #travel-photos {
    padding: 15.3rem 2rem 0;
  }

  .container__row__images {
    gap: 2rem;
  }

  .container__row__images .img-tablet {
    display: none;
  }

  .container__first__row__images img,
  .container__third__row__images img {
    height: 30rem;
  }

  /* Travel stories */
  .cards__container__travel__stories {
    padding-left: 0;
    padding-right: 0;
  }

  .right__footer__card__stories {
    flex: auto;
  }
  /* Footer */
  #footer__links {
    gap: 2rem;
  }
}

/* LAPTOP */
@media screen and (min-width: 769px) and (max-width: 1023px) {
  #travel-photos {
    padding: 15.3rem 2rem 0;
  }

  .container__row__images {
    gap: 2rem;
  }

  .container__row__images .img-tablet {
    display: none;
  }

  .container__second__row__images {
    grid-template-columns: 1fr 1fr;
  }
  .container__first__row__images img,
  .container__third__row__images img {
    height: 30rem;
  }
  /* Contect us */
  #contect-us .img-contect-us {
    width: 28rem;
  }
  /* Footer */
  footer .container {
    flex-direction: column;
  }
  #footer__links {
    padding-right: 0;
  }
}

/* TABLET */
@media (min-width: 481px) and (max-width: 768px) {
  #travel-stories,
  #feedback,
  #choose-your-tour,
  #do-your-tour {
    padding: 10rem 3rem 0;
  }
  .header {
    height: 55rem;
    background-position: center;
  }
  .nav {
    justify-content: space-around;
  }
  nav.menu-nav {
    display: none;
  }
  .title {
    font-size: 5rem;
  }

  /* Choose your tour */
  #choose-your-tour ul {
    flex-wrap: wrap;
  }
  /* Do your tour */
  .form {
    padding: 3.2rem;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="date"],
  select,
  textarea {
    font-size: 1.6rem;
  }
  button[name="find-a-tour"],
  button[type="reset"] {
    padding: 1.5rem 3rem;
    border-radius: 10px;
    font-size: 1.6rem;
  }
  .full-width.mobile__button {
    display: flex;
    justify-content: space-between;
  }
  /* Feedback */
  .cards__container__feedback {
    padding-left: 0;
    padding-right: 0;
  }
  .card__text p {
    font-size: 1.8rem;
  }
  .card__feadback {
    height: 60rem;
  }
  /* Travel Photos */
  .container__row__images img {
    border-radius: 25px;
  }
  .container__second__row__images {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .container__row__images .img-mobile,
  .container__second__row__images .img-tablet,
  .container__row__images .img-mobile,
  .container__row__images .img-mobile {
    display: none;
  }
  .cards__container__travel__stories {
    padding-left: 0;
    padding-right: 0;
  }

  /* Contect us */
  .box {
    grid-template-columns: 1fr;
    gap: 2.8rem;
    margin-bottom: 7.5rem;
  }

  .box_img__card__contect__us {
    text-align: center;
  }
  .box__content__card__contect__us {
    text-align: center;
  }
  .desc__card__contect__us p {
    text-align: center;
  }
  /* Footer */
  footer .container {
    flex-direction: column;
  }

  #footer__info,
  #footer__links ul li a {
    font-size: 1.6rem;
  }
  #footer__links {
    padding-right: 0;
  }
}

/* MOBILE */
@media (min-width: 320px) and (max-width: 480px) {
  .header {
    height: 51rem;
    background-position: center;
  }

  #choose-your-tour,
  #do-your-tour,
  #feedback,
  #travel-photos,
  #travel-stories,
  #contect-us {
    padding-top: 7.5rem;
  }

  #do-your-tour .desc__section,
  #feedback .desc__section,
  #travel-photos .desc__section,
  #travel-stories .desc__section {
    margin-top: 2rem;
  }
  .logo {
    font-size: 3rem;
  }

  .sticky .hero,
  .sticky #choose-your-tour,
  .sticky #do-your-tour,
  .sticky #feedback,
  .sticky #travel-stories {
    padding-top: 7.5rem;
  }

  h1,
  h2 {
    font-size: 3.4rem;
  }
  h3 {
    font-size: 2.3rem;
  }

  p {
    font-size: 1.6rem;
  }

  .menu-nav {
    display: none;
  }
  .nav {
    justify-content: space-between;
    padding: 2rem;
  }

  .num-mobile {
    font-size: 1.6rem;
  }

  .title {
    padding-top: 5rem;
    font-size: 3.4rem;
  }

  .desc {
    width: 31rem;
    padding: 4rem 2.5rem;
    font-size: 1.6rem;
  }

  .header button[type="submit"] {
    padding: 0.5rem 2rem;
    font-size: 1.6rem;
  }

  #choose-your-tour,
  #do-your-tour {
    padding: 7.5rem 2.1rem 0;
  }
  /* Choose your tour */
  .list__choose__your__tour {
    flex-wrap: wrap;
    gap: 0.6rem;
    padding-left: 0;
    padding-right: 0;
  }

  #choose-your-tour ul li {
    line-height: 3rem;
    text-indent: -1.2rem;
    margin-left: 1.8rem;
  }

  #choose-your-tour ul li a {
    font-size: 1.6rem;
  }

  .title__section {
    padding-bottom: 5rem;
  }

  .card {
    width: 31.8rem;
    height: 31.8rem;
    border-radius: 20px;
    position: relative;
  }
  .cards__container {
    padding-left: 0rem;
    padding-right: 0rem;
    gap: 1.6rem;
  }

  .box__text {
    padding: 2.5rem;
  }

  .card__img {
    width: inherit;
  }

  .container__form {
    padding-left: 0;
    padding-right: 0;
  }
  /* Do your tour */
  .form {
    border-radius: 30px;
    grid-template-columns: 1fr;
    padding: 1.6rem;
    gap: 3rem;
    font-size: 1.6rem;
  }
  .full-width {
    grid-column: span 1;
  }
  .full-width .mobile__button {
    display: flex;
    justify-content: space-between;
  }
  input[type="checkbox"] {
    padding: 8px;
  }
  .full-width.mobile__button {
    gap: 10px;
    justify-content: center;
  }
  button[name="find-a-tour"],
  button[type="reset"] {
    padding: 15px 30px;
    font-size: 16px;
  }

  /* Feedback */
  .cards__container__feedback {
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 18px;
  }

  .card__feadback {
    border-radius: 20px;
    padding: 2rem;
    height: 100%;
  }
  .card__footer__feedback {
    display: flex;
    justify-content: space-between;
  }

  .card__text {
    padding-bottom: 4rem;
  }

  .card__text p {
    text-align: start;
    font-size: 1.6rem;
    line-height: 2.27rem;
    color: #1b1f2b;
  }

  /* Travel Photos */
  #travel-photos {
    padding: 7.5rem 2.1rem 0;
  }

  .container__images {
    row-gap: 1.8rem;
  }

  .container__first__row__images .img-mobile,
  .container__second__row__images .img-mobile,
  .container__third__row__images .img-mobile {
    display: none;
  }
  .container__first__row__images,
  .container__second__row__images,
  .container__third__row__images {
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    gap: 1.8rem;
  }
  .container__second__row__images,
  .container__third__row__images {
    gap: 1rem;
  }
  .container__first__row__images img,
  .container__second__row__images img,
  .container__third__row__images img {
    border-radius: 20px;
    height: 11rem;
  }
  /* Travel stories */
  .card__img__travel__stories-big {
    display: none;
  }

  .cards__container__travel__stories {
    padding-left: 0;
    padding-right: 0;
    gap: 1.8rem;
  }

  .card__travel__stories {
    border-radius: 25px;
    height: 45.5rem;
    max-width: 31.8rem;
  }
  .card__content {
    padding: 3rem;
    top: 0;
  }
  .card__title {
    font-size: 2.3rem;
  }
  .card__desc {
    padding-right: 2rem;
    padding-top: 2rem;
    width: 30rem;
    font-size: 1.6rem;
    height: 31rem;
  }
  li {
    font-size: 1.6rem;
  }
  .right__footer__card__stories {
    display: none;
  }
  .card-button {
    font-size: 1.6rem;
  }
  /* contect us */
  #contect-us {
    padding: 7.5rem 0.5rem 0;
  }
  .box {
    grid-template-columns: 1fr;
    gap: 1.8rem;
    margin-bottom: 7.5rem;
  }
  .box_img__card__contect__us {
    text-align: center;
  }
  .img-contect-us {
    width: 13rem;
    border-radius: 20px;
  }

  .title-box {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
  .box__content__card__contect__us {
    text-align: center;
  }
  .desc__card__contect__us p {
    text-align: center;
  }
  /* Footer */
  footer {
    height: 9.5rem;
    margin-top: 7.5rem;
    padding-top: 0;
    display: grid;
  }

  footer .container {
    flex-direction: column;
  }

  #footer__info,
  #footer__links ul li a {
    font-size: 1.6rem;
  }
  #footer__links {
    display: flex;
    justify-self: center;
    gap: 1.8rem;
    padding-right: 0;
  }
  #footer__links ul {
    gap: 0.4rem;
    padding-left: 0;
    padding-right: 0;
  }
}
