@media (min-width: 1025px) {
  button[type=submit]:hover {
    background-color: #efa501;
    color: #ffffff;
  }
  button[type=submit]:focus {
    background: #f8e6be;
    color: #1b1f2b;
  }
  .carda {
    transform: scale(1.2);
    transition: all 0.5s;
  }
  .btna {
    background-color: #efa501;
  }
  .card:hover .card__img {
    transform: scale(1.2);
    transition: all 0.5s;
  }
  .card:hover .card__button,
.card__travel__stories:hover .card__button {
    background-color: #286562;
  }
  .card:active .card__button,
.card:focus .card__button,
.left__footer__card__stories:active .card__button,
.left__footer__card__stories:focus .card__button {
    background-color: #efa501;
  }
  button[name=find-a-tour]:hover {
    background-color: #3b7e7b;
  }
  button[name=find-a-tour]:focus {
    background-color: #627f7e;
  }
  button[type=reset]:hover {
    background-color: #f1f3f2;
  }
  button[type=reset]:focus {
    background-color: #d9dfdb;
  }
  ul li a:hover {
    text-decoration: underline;
    text-underline-position: under;
  }
  form span,
#contect-us span {
    cursor: pointer;
    color: #1b1f2b;
  }
  form span:hover,
#contect-us span:hover {
    text-decoration: underline;
  }
  form span:active,
#contect-us span:active {
    color: #286562;
  }
  .right__footer__card__stories ul :active,
.right__footer__card__stories ul :focus {
    text-decoration: underline;
    color: #efa501;
  }
}
/* TV - EXTRA LARGE*/
@media (min-width: 1281px) {
  .image__header-s {
    display: none;
  }
  .header {
    height: 8.3rem;
  }
  header {
    justify-content: center;
    gap: 17rem;
  }
  header ul {
    gap: 5rem;
  }
  .title {
    line-height: 10.4rem;
  }
  /* Choose your tour */
  .cards__container {
    padding-left: 20%;
    padding-right: 20%;
  }
  /* Do your tour */
  .container__form {
    padding-left: 19.5%;
    padding-right: 19.5%;
  }
  /* Travel stories */
  .right__footer__card__stories {
    flex: 1;
  }
  /* Travel Photos */
  .container__images {
    row-gap: 5rem;
  }
  .container__first__row__images,
.container__second__row__images,
.container__third__row__images {
    -moz-column-gap: 50px;
         column-gap: 50px;
    gap: 50px;
  }
  .box {
    max-width: 77rem;
    padding: 0;
    gap: 3rem;
  }
  /* Footer */
  footer .container {
    padding-right: 13rem;
    padding-left: 13rem;
  }
}
/* Laptops, Desktops */
@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .image__header-s {
    display: none;
  }
  .image__header {
    background-size: cover;
  }
  #travel-stories,
#feedback,
#choose-your-tour,
#do-your-tour {
    padding: 13.5rem 5.3rem 0;
  }
  header {
    justify-content: center;
  }
  .title {
    padding-top: 4rem;
  }
  header.menu-nav {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .desc {
    max-width: 46rem;
  }
  /* Choose your tour */
  .cards__container {
    padding-left: 0;
    padding-right: 0;
    grid-template-columns: 1fr 1fr;
    gap: 1.8rem;
  }
  .card {
    width: 45rem;
  }
  .card__img {
    width: 100%;
  }
  /* Do your tour */
  .container__form {
    padding-left: 0;
    padding-right: 0;
  }
  /* Feedback */
  .cards__container__feedback {
    flex-flow: row;
    padding-left: 0rem;
    padding-right: 0rem;
    gap: 1.8rem;
  }
  .card__feadback {
    height: 75rem;
  }
  /* Travel Photos */
  #travel-photos {
    padding: 15.3rem 2rem 0;
  }
  .container__row__images {
    gap: 2rem;
  }
  .container__row__images .img-tablet {
    display: none;
  }
  .container__first__row__images img,
.container__third__row__images img {
    height: 30rem;
  }
  /* Travel stories */
  .cards__container__travel__stories {
    padding-left: 0;
    padding-right: 0;
  }
  .right__footer__card__stories {
    flex: auto;
  }
  .box {
    max-width: 77rem;
    padding: 0;
    gap: 3rem;
  }
  /* Footer */
  #footer__links {
    gap: 2rem;
  }
}
/*  TABLET  */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .image__header {
    background: url("/img/img-header-mobile.jpg") no-repeat center;
    background-size: cover;
  }
  .image__header-s {
    display: none;
  }
  .header {
    height: 8.3rem;
  }
  .desc {
    padding: 7rem;
  }
  /* Choose your tour */
  .cards__container {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 1.8rem;
  }
  .card {
    width: 45rem;
  }
  .card__img {
    width: 100%;
  }
  #do-your-tour {
    padding: 13.5rem 5.3rem 0;
  }
  /* Feedback */
  .cards__container__travel__stories {
    padding-left: 5.3rem;
    padding-right: 5.3rem;
  }
  .cards__container__feedback {
    gap: 1.8rem;
  }
  .card__feadback {
    max-width: 45rem;
    height: 84rem;
  }
  /* Travel photos */
  #travel-photos {
    padding: 15.3rem 2rem 0;
  }
  .container__row__images {
    gap: 2rem;
  }
  .container__row__images .img-tablet {
    display: none;
  }
  .container__second__row__images {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .container__first__row__images img,
.container__second__row__images img,
.container__third__row__images img {
    height: 30rem;
  }
  /* Contect us */
  #contect-us .img-contect-us {
    width: 28rem;
  }
  .box {
    max-width: 71rem;
    padding: 0;
  }
  /* Footer */
  footer .container {
    gap: 6rem;
    text-align: center;
  }
}
/* Tablets, Mobiles (Landscape) */
@media (min-width: 481px) and (max-width: 767px) {
  .first__section {
    height: 68rem;
  }
  .image__header {
    background: url("/img/img-header-mobile.jpg") no-repeat center;
    background-size: cover;
  }
  #travel-stories,
#feedback,
#choose-your-tour,
#do-your-tour {
    padding: 10rem 3rem 0;
  }
  .menu-nav {
    display: none;
  }
  .header {
    background-position: center;
  }
  header {
    justify-content: space-around;
  }
  header.menu-nav {
    display: none;
  }
  .title {
    font-size: 5rem;
  }
  .desc {
    padding: 6rem;
  }
  /* Choose your tour */
  #choose-your-tour ul {
    flex-wrap: wrap;
  }
  .cards__container {
    grid-template-columns: auto;
  }
  /* Do your tour */
  .form {
    padding: 3.2rem;
  }
  input[type=text],
input[type=email],
input[type=tel],
input[type=date],
select,
textarea {
    font-size: 1.6rem;
  }
  button[name=find-a-tour],
button[type=reset] {
    padding: 1.5rem 3rem;
    border-radius: 10px;
    font-size: 1.6rem;
  }
  input[type=radio] {
    width: 2rem;
    height: 2rem;
  }
  .full-width.mobile__button {
    display: flex;
    justify-content: space-between;
  }
  .form__checkbox {
    align-items: start;
  }
  .form__checkbox p {
    text-align: start;
  }
  input[type=checkbox] {
    width: 3.3rem;
  }
  /* Feedback */
  #feedback {
    align-items: center;
  }
  h2 {
    font-size: 4rem;
  }
  .cards__container__feedback {
    padding-left: 0;
    padding-right: 0;
  }
  .card__content {
    padding: 3rem;
    top: 0;
  }
  .card__text p {
    font-size: 1.8rem;
  }
  .card__desc {
    padding-right: 2rem;
    padding-top: 2rem;
    width: 30rem;
    font-size: 1.8rem;
    height: 43rem;
  }
  .right__footer__card__stories ul {
    display: none;
  }
  /* Travel Photos */
  .container__row__images img {
    border-radius: 25px;
  }
  .container__second__row__images {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .container__row__images .img-mobile,
.container__second__row__images .img-tablet,
.container__row__images .img-mobile,
.container__row__images .img-mobile {
    display: none;
  }
  .cards__container__travel__stories {
    padding-left: 0;
    padding-right: 0;
  }
  /* Contect us */
  .box {
    grid-template-columns: 1fr;
    gap: 2.8rem;
    margin-bottom: 7.5rem;
    padding: 0 6rem;
  }
  .box_img__card__contect__us {
    text-align: center;
  }
  .box__content__card__contect__us {
    text-align: center;
  }
  .desc__card__contect__us p {
    text-align: center;
  }
  /* Footer */
  footer .container {
    flex-direction: column;
  }
  #footer__info,
#footer__links ul li a {
    font-size: 1.6rem;
  }
  #footer__links {
    padding-right: 0;
  }
}
/* MOBILE */
@media (min-width: 320px) and (max-width: 480px) {
  .image__header {
    background: url("/img/img-header-mobile.jpg") no-repeat;
    background-size: cover;
  }
  #choose-your-tour,
#do-your-tour,
#feedback,
#travel-photos,
#travel-stories,
#contect-us {
    padding-top: 7.5rem;
  }
  #do-your-tour .desc__section,
#feedback .desc__section,
#travel-photos .desc__section,
#travel-stories .desc__section {
    margin-top: 2rem;
  }
  .logo {
    font-size: 3rem;
  }
  .sticky .hero,
.sticky #choose-your-tour,
.sticky #do-your-tour,
.sticky #feedback,
.sticky #travel-stories {
    padding-top: 7.5rem;
  }
  .sticky header {
    height: 9.5rem;
  }
  h1,
h2 {
    font-size: 3.4rem;
  }
  h3 {
    font-size: 2.3rem;
  }
  p {
    font-size: 1.6rem;
  }
  .first__section {
    height: 48.8rem;
    position: relative;
  }
  .menu-nav {
    display: none;
  }
  header {
    justify-content: space-between;
    padding: 2rem;
  }
  .num-mobile {
    font-size: 1.6rem;
  }
  .title {
    font-size: 3.4rem;
    margin-top: 5rem;
  }
  .desc {
    width: 31rem;
    padding: 4rem 2.5rem;
    font-size: 1.6rem;
  }
  .hero button[type=submit] {
    padding: 0.5rem 2rem;
    font-size: 1.6rem;
  }
  #choose-your-tour,
#do-your-tour {
    padding: 7.5rem 2.1rem 0;
  }
  /* Choose your tour */
  .list__choose__your__tour {
    flex-wrap: wrap;
    gap: 0.6rem;
    padding-left: 0;
    padding-right: 0;
  }
  #choose-your-tour ul li {
    line-height: 3rem;
    text-indent: -1.2rem;
    margin-left: 1.8rem;
  }
  #choose-your-tour ul li a {
    font-size: 1.6rem;
  }
  .title__section {
    padding-bottom: 5rem;
  }
  .card {
    width: 31.8rem;
    height: 31.8rem;
    border-radius: 20px;
    position: relative;
  }
  .cards__container {
    grid-template-columns: 1fr;
    gap: 1.6rem;
  }
  .box__text {
    padding: 2.5rem;
  }
  .card__img {
    width: inherit;
  }
  .container__form {
    padding-left: 0;
    padding-right: 0;
  }
  /* Do your tour */
  .form {
    border-radius: 30px;
    grid-template-columns: 1fr;
    padding: 2rem;
    gap: 3rem;
    font-size: 1.6rem;
  }
  .full-width {
    grid-column: span 1;
  }
  .full-width .mobile__button {
    display: flex;
    justify-content: space-between;
  }
  input[type=text],
input[type=email],
input[type=tel],
input[type=date],
select,
textarea {
    font-size: 1.6rem;
  }
  input[type=checkbox] {
    padding: 8px;
  }
  .full-width.mobile__button {
    gap: 10px;
    justify-content: center;
  }
  button[name=find-a-tour],
button[type=reset] {
    padding: 15px 30px;
    font-size: 16px;
  }
  input[type=radio],
input[type=checkbox] {
    width: 2rem;
    height: 2rem;
  }
  input[type=checkbox]:checked {
    background-size: 60%;
  }
  .form__checkbox {
    align-items: start;
  }
  .form__checkbox p {
    font-size: 1.6rem;
    text-align: start;
  }
  .box {
    padding: 0 2rem;
  }
  /* Feedback */
  .cards__container__feedback {
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 18px;
  }
  .card__feadback {
    border-radius: 20px;
    padding: 2rem;
    height: 100%;
  }
  .card__footer__feedback {
    display: flex;
    justify-content: space-between;
  }
  .card__text {
    padding-bottom: 4rem;
  }
  .card__text p {
    text-align: start;
    font-size: 1.6rem;
    line-height: 2.27rem;
    color: #1b1f2b;
  }
  /* Travel Photos */
  #travel-photos {
    padding: 7.5rem 2.1rem 0;
  }
  .container__images {
    row-gap: 1.8rem;
  }
  .container__first__row__images .img-mobile,
.container__second__row__images .img-mobile,
.container__third__row__images .img-mobile {
    display: none;
  }
  .container__first__row__images,
.container__second__row__images,
.container__third__row__images {
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    gap: 1.8rem;
  }
  .container__second__row__images,
.container__third__row__images {
    gap: 1rem;
  }
  .container__first__row__images img,
.container__second__row__images img,
.container__third__row__images img {
    border-radius: 20px;
    height: 11rem;
  }
  /* Travel stories */
  .card__img__travel__stories-big {
    display: none;
  }
  .cards__container__travel__stories {
    padding-left: 0;
    padding-right: 0;
    gap: 1.8rem;
  }
  .card__travel__stories {
    border-radius: 25px;
    height: 45.5rem;
    max-width: 31.8rem;
  }
  .card__content {
    padding: 3rem;
    top: 0;
  }
  .card__title {
    font-size: 2.3rem;
  }
  .card__desc {
    padding-right: 2rem;
    padding-top: 2rem;
    width: 30rem;
    font-size: 1.6rem;
    height: 31rem;
  }
  li {
    font-size: 1.6rem;
  }
  .right__footer__card__stories {
    display: none;
  }
  .card-button {
    font-size: 1.6rem;
  }
  /* contect us */
  #contect-us {
    padding: 7.5rem 0.5rem 0;
  }
  .box {
    grid-template-columns: 1fr;
    gap: 1.8rem;
    margin-bottom: 7.5rem;
  }
  .box_img__card__contect__us {
    text-align: center;
  }
  .img-contect-us {
    width: 13rem;
    border-radius: 20px;
  }
  .title-box {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
  .box__content__card__contect__us {
    text-align: center;
  }
  .desc__card__contect__us p {
    text-align: center;
  }
  /* Footer */
  footer {
    height: 9.5rem;
    margin-top: 2.5rem;
    padding-top: 0;
    display: grid;
  }
  footer .container {
    flex-direction: column;
  }
  #footer__info,
#footer__links ul li a {
    font-size: 1.6rem;
  }
  #footer__links {
    display: flex;
    justify-self: center;
    gap: 1.8rem;
    padding-right: 0;
  }
  #footer__links ul {
    gap: 0.4rem;
    padding-left: 0;
    padding-right: 0;
  }
}/*# sourceMappingURL=queries.css.map */