.header {
  height: 70rem;
  color: #ffffff;
  background: url("/img/img-header.png") no-repeat;
  background-size: cover;
  background-position: 30% 100%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 8.8rem;
}

/* STICKY NAVIGATION */
.sticky .nav {
  position: fixed;
  top: 0;
  color: #1b1f2b;
  bottom: 0;
  width: 100%;
  height: 5rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #f3efe8;
  z-index: 9999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.2);
  opacity: 0.9;
}

.sticky .hero,
.sticky #choose-your-tour,
.sticky #do-your-tour,
.sticky #feedback,
.sticky #travel-stories {
  padding-top: 12.5rem;
}

nav a {
  color: #ffffff;
  font-size: 4rem;
  font-weight: 700;
  text-decoration: none;
}

.sticky .logo {
  color: #1b1f2b;
}

.sticky nav ul li a {
  color: #1b1f2b;
}

ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.list-header {
  display: inline-block;
  cursor: pointer;
}

ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 400;
}

.link {
  color: #1b1f2b;
}

.num-mobile {
  font-size: 2rem;
}

.cta__hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-left: 40rem;
  margin-right: 40rem;
  font-size: 9.6rem;
}
.desc {
  max-width: 60rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-size: 2rem;
  line-height: 1.5;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  color: #ffffff;
}

header button[type="submit"] {
  padding: 0.5rem 2rem;
  font-size: 2rem;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
  color: #1b1f2b;
}

.title__section {
  padding-bottom: 10rem;
}

/* Choose your tour */
#choose-your-tour {
  padding: 13.5rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.top__box {
  display: grid;
  gap: 1rem;
}

h2 {
  font-size: 6rem;
  text-align: center;
  color: #1b1f2b;
}

#choose-your-tour ul {
  margin-top: 2.5rem;
  justify-content: center;
}

#choose-your-tour ul li a:hover {
  font-weight: 700;
  text-underline-position: under;
}

#choose-your-tour ul li a:focus {
  color: #efa501;
  text-decoration: underline;
  text-underline-position: under;
}

#choose-your-tour ul li {
  margin-left: 2.5rem;
}

#choose-your-tour ul li a {
  color: #1b1f2b;
  font-weight: 700;
  font-size: 2rem;
  cursor: pointer;
  margin-left: 0.2rem;
}

.cards__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  gap: 3rem;
}
.card__text {
  font-size: 1.7rem;
}

.box__text {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  text-align: start;
  padding: 5rem;
  z-index: 1;
}

.footer__box {
  display: flex;
  align-items: center;
  font-size: 2.3rem;
}

.card {
  width: 37rem;
  height: 52rem;
  position: relative;
  background-color: #1b1f2b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  overflow: hidden;
  border-radius: 50px;
  background: -moz-linear-gradient(
    top,
    rgba(10, 10, 10, 1) 4%,
    rgba(10, 10, 10, 1) 8%,
    rgba(10, 10, 10, 1) 8%,
    rgba(1, 1, 1, 1) 11%,
    rgba(1, 1, 1, 1) 17%,
    rgba(1, 1, 1, 1) 17%,
    rgba(13, 13, 13, 1) 23%,
    rgba(149, 149, 149, 1) 55%,
    rgba(78, 78, 78, 1) 68%,
    rgba(56, 56, 56, 1) 72%,
    rgba(27, 27, 27, 1) 86%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(10, 10, 10, 1) 4%,
    rgba(10, 10, 10, 1) 8%,
    rgba(10, 10, 10, 1) 8%,
    rgba(1, 1, 1, 1) 11%,
    rgba(1, 1, 1, 1) 17%,
    rgba(1, 1, 1, 1) 17%,
    rgba(13, 13, 13, 1) 23%,
    rgba(149, 149, 149, 1) 55%,
    rgba(78, 78, 78, 1) 68%,
    rgba(56, 56, 56, 1) 72%,
    rgba(27, 27, 27, 1) 86%
  );
  background: linear-gradient(
    to bottom,
    rgba(10, 10, 10, 1) 4%,
    rgba(10, 10, 10, 1) 8%,
    rgba(10, 10, 10, 1) 8%,
    rgba(1, 1, 1, 1) 11%,
    rgba(1, 1, 1, 1) 17%,
    rgba(1, 1, 1, 1) 17%,
    rgba(13, 13, 13, 1) 23%,
    rgba(149, 149, 149, 1) 55%,
    rgba(78, 78, 78, 1) 68%,
    rgba(56, 56, 56, 1) 72%,
    rgba(27, 27, 27, 1) 86%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0a0a', endColorstr='#1b1b1b',GradientType=0 );
}

.card__img {
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
}

.card:focus .cta__button-1 {
  background-color: #efa501;
}

.card__button {
  font-weight: 700;
  display: flex;
  padding: 0.7rem 1.5rem;
  border-radius: 50px;
}

.card:hover {
  cursor: pointer;
}
.icon {
  align-items: center;
  transform: translate(-20%, -20%);
  width: 4rem;
  display: flex;
  margin-top: 0.6rem;
}

.arrow {
  position: absolute;
  left: 2.5rem;
  width: 50%;
  height: 0.2rem;
  background-color: #ffffff;
  animation: arrow 50ms linear infinite;
}

.arrow::after,
.arrow::before {
  content: "";
  position: absolute;
  width: 10%;
  height: 0.8rem;
  right: 0.2rem;
  background-color: #ffffff;
}

.arrow::after {
  top: -0.6rem;
  transform: rotate(-45deg);
}

.arrow::before {
  transform: rotate(+45deg);
}

/* Do your tour */
#do-your-tour {
  padding: 13.5rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
}

p {
  font-size: 2rem;
  line-height: 1.5;
  text-align: center;
  color: #a6a6a6;
}

.form {
  border-radius: 50px;
  background-color: hsl(0, 0%, 100%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 6.4rem;
  column-gap: 5rem;
  row-gap: 3.8rem;
}

.full-width {
  grid-column: span 2;
}
.label {
  /* font-weight: bold;
  margin-bottom: 0.8rem; */
}

.radio-questions {
  /* font-weight: bold; */
  margin-bottom: 0.8rem;
}

input,
select,
textarea {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-color: transparent;
  border: 1px solid #f9f7f4;
  border-radius: 10px;
  background: #f9f7f4;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select,
textarea {
  font-size: 2rem;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.8rem 1.2rem;
  margin-top: 0.8rem;
}

select {
  background: url("/img/Rectangle34.png") no-repeat center right 1.2rem;
  background-color: #f9f7f4;
  color: #a6a6a6;
}

input::placeholder,
textarea::placeholder {
  color: #a6a6a6;
}

textarea {
  min-height: 12.8rem;
}
fieldset {
  border: 0;
}

input[type="radio"],
input[type="checkbox"] {
  height: 2rem;
  width: 2rem;
  vertical-align: middle;
  border: 2px solid #1b1f2b;
  margin-right: 0.9rem;
  background-color: #ffffff;
}

input[type="radio"]:checked {
  background-image: radial-gradient(
    hsl(225, 23%, 14%) 40%,
    transparent calc(40% + 0.1rem)
  );
}

input[type="checkbox"] {
  border-radius: 4px;
}

input[type="checkbox"]:checked {
  background: url("/img/Rectangle 36.png") no-repeat;
  background-size: 85%;
  background-position: center;
}
.full-width.mobile__button {
  display: flex;
  gap: 3rem;
}
button[name="find-a-tour"],
button[type="reset"] {
  border: 0rem;
  cursor: pointer;
  padding: 1.8rem 7rem;
  border-radius: 1rem;
  font-size: 2rem;
}

button[name="find-a-tour"] {
  background-color: #286562;
  color: #ffffff;
}
button[type="reset"] {
  background-color: #e0f0e5;
  color: #286562;
}
.form__checkbox {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
}

.form__checkbox p {
  font-size: 1.7rem;
}

#feedback,
#travel-stories {
  text-align: center;
  padding: 13.5rem 6rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards__container__feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  gap: 3rem;
  /* padding-left: 12.8rem;
  padding-right: 12.8rem; */
}

.card__feadback {
  padding: 4rem;
  max-width: 57rem;
  height: 70rem;
  position: relative;
  background-color: #f4f0e9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  overflow: hidden;
  border-radius: 50px;
}

.card__text p {
  font-weight: bold;
  flex: 1;
  font-size: 2.3rem;
  text-align: start;
  line-height: 2.8rem;
  color: #1b1f2b;
}

.card__footer__feedback {
  display: flex;
  justify-content: space-between;
  color: #1b1f2b;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: start;
}

/* Travel Photos */
#travel-photos {
  text-align: center;
  padding: 13.5rem 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container__images {
  margin: 0;
  display: grid;
  row-gap: 3rem;
}

.container__row__images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 3rem;
}
.container__row__images img {
  width: 100%;
  display: block;
  border-radius: 50px;
}

/* img travel */
.image-grid {
  padding: 1.2rem;
}

.image-row {
  display: flex;
}
.image-row .image {
  margin: 1.2rem;
  height: 26rem;
}

.image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  flex: 1;
  border-radius: 50px;
}

.cards__container__travel__stories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
  padding-left: 8rem;
  padding-right: 8rem;
}

.card__travel__stories {
  display: flex;
  width: 117rem;
  height: 56.7rem;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  color: #ffffff;
  flex-direction: column;
  cursor: pointer;
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  background-color: rgba(59, 61, 63, 0.75);
}

.card__img__travel__stories-big {
  position: absolute;
  transition: all 0.5s;
}

.card__content {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  left: 0;
  padding: 6rem;
  background-color: rgb(90 65 63 / 22%);
}

.card__title {
  text-align: start;
}

.card__desc {
  text-align: start;
  padding-top: 3.5rem;
  width: 55rem;
  font-size: 2rem;
  line-height: 1.5;
  height: 39rem;
}

.list__desc__card__travel__storeis {
  margin-top: 2.5rem;
  display: block;
  margin-left: 1.5rem;
}

.footer__cards__travel__stories {
  display: flex;
  align-items: end;
}

.left__footer__card__stories {
  display: flex;
  flex: 1;
  align-items: center;
  font-size: 2rem;
}

.right__footer__card__stories {
  display: flex;
  /* flex: 1; */
  font-size: 2rem;
  justify-content: flex-end;
}

.right__footer__card__stories ul :hover {
  text-decoration: underline;
}

.card__travel__stories:hover .card__img__travel__stories-big,
.card__travel__stories:focus .card__img__travel__stories-big {
  transform: scale(1.5);
  transition: all 0.5s;
}

/* Contect-us */
#contect-us {
  padding: 13.5rem 6rem 0;
}

.box {
  max-width: 83.2rem;
  margin: 0 auto;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.img-contect-us {
  width: 37rem;
  border-radius: 50px;
}

h3 {
  font-size: 3.5rem;
}

#contact-us h3 {
  color: #1b1f2b;
}

.desc__card__contect__us p {
  text-align: start;
  margin-top: 1rem;
}

.desc__card__contect__us p span:hover {
  text-decoration: underline;
}

#do-your-tour .desc__section,
#feedback .desc__section,
#travel-photos .desc__section,
#travel-stories .desc__section {
  margin-top: 3rem;
}

/* Footer */
footer {
  margin-top: 13.5rem;
  background-color: #f4f0e9;
  height: 8.8rem;
  /* display: flex; */
}
footer .container {
  display: flex;
  height: 100%;
}

#footer__info {
  display: flex;
  color: #a6a6a6;
  flex: 1;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
}

#footer__info a {
  text-decoration: none;
  color: #a6a6a6;
  cursor: pointer;
}

#footer__links {
  display: flex;
  flex: 1;
  gap: 3.8rem;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  padding-right: 10rem;
}
#footer__links ul li a {
  color: #1b1f2b;
  cursor: pointer;
}
